.page-area{
    background-color: rgba(30, 223, 143, 0.116);
    border: 5px solid royalblue;

    h2{
        font-size: x-large;
        font-weight: 1000;
    }

}

.col-md-6{
    background-color: rgba(143, 64, 64, 0.321);
    border: 3px solid black;
    font-weight: 500;
}
