<div class="page-area text-center">
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatem nulla, magnam, id officiis veritatis commodi corrupti autem perspiciatis porro aliquid eum, recusandae pariatur totam cum accusantium incidunt harum sunt?</p>
    <div class="box">
        username is <span class="text-success">{{userName}}</span>
    
    <div class="row text-center">
        <div class="col-md-6">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-6">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-6">
            <app-comp3></app-comp3>
        </div>
        <div class="col-md-6">
            <app-comp4></app-comp4>
        </div>
    </div>
</div>
</div>